#background{
    /* background-color: black; */
    background-image:url(C:\Users\juanc\Desktop\F5Merida\RecursosFront\Merida-Games\src\assets\img\angel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#button {
    display: inline-block;
    color: red;
    margin-left: 100px;
    margin-top: 50px;
    width: 150px;
    height: 100px;
    padding: 10px 20px;
    background-image: url(https://images.vexels.com/media/users/3/309022/isolated/preview/ab1a7df48a4395bb27291129c9cac0ee-personaje-de-la-muerte-del-a-ngel-de-la-muerte.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 35px;
}


/* 
div {
    width: 100%;
    height: 50px;
    color: black;
} */

.div-result {
    height: 300px;
    width: 400px;
    background-image: url(C:\Users\juanc\Desktop\F5Merida\RecursosFront\Merida-Games\src\assets\img\bocadillo.png);
    background-size: cover;
    position: absolute;
    background-position-x: 50%;
    margin-left: 25%;
    margin-top: -10%;
}

.div-result h3 {
    font-family: fantasy;
    margin-top: 30%;
   
    text-align: center;
    
}

.coder-list {
    height: 100%;
    width: 100%;
}

#user {
    height: 20px;
    width: 200px;
    margin: 0.5%;
}
p {
    font-family: fantasy;
    font-size: larger;
    margin-left: 7%;
}