<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" type="text/css" href="../styles/games.css" />
</head>

<body>
    <div class="left-row-cntr max-width">
        <aside class="dflt-clm-cntr padding-10">
            <h5 class="games__aside-btn active clickable" value="views/games/tictactoe.html">Tic Tac Toe</h5>
            <h5 class="games__aside-btn clickable" value="views/games/hangman.html">Hangman</h5>
        </aside>
        <main id="games__main__cntr" class="flex-grow-1">
        </main>
    </div>
    <script src="../scripts/games.js"></script>
</body>

</html>