#home-flex{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background-image: url(../../assets/img/angel.jpeg);

}

#wellcome{
    height: 100px;
}